.image img{
    width:20rem;
}
.netflix-card{
    width: 50%;
   background-color: black;
   color: white;

}
.content{
    display: flex;
    width: 40%;
    justify-content: space-between;
    gap: 10rem;
}
.profile img{
    width:5rem;
    height: 5rem;
}