.image img{
    width:20rem;
    height: 100%;
}
.netflix-card{
    width: 70%;
   background-color: black;
   color: white;
margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
margin-left: 25rem;
}
.content{
    display: flex;

    justify-content: space-between;
    gap: 20rem;
    
    
}
.profile img{
    width:5rem;
    height: 5rem;
     margin-top: 5px;
}
.profile{
    width: 100%;
}